<!DOCTYPE html>
<html>

<head>
  <title>stealmyidea.com</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.min.css">

</head>

<body>
  <nav class="level is-mobile">
    <p>
    <h1 class="title ">Steal My Ideas</h1>
    </p>
    <!-- <span ></span> -->
  </nav>

  <div class="box" style="margin: 29px;">
    <div class="field">
      <label class="label">Add your idea here!</label>
      <div class="control">
        <textarea id="idea_text" class="textarea" placeholder="Textarea" rows="2"></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" get="/post" target="idea_text">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancel</button>
      </div>
    </div>
  </div>
  


  <div class="container post_list" style="width: 500px;">
    <div id="posts" class=" post" style="padding: 10px;" get="/posts" onload>

      <p>
        loading...
      </p>
      <p> Author:<span class="username">....</span></p>

    </div>
  </div>
</body>
<script src="static/script.js"></script>

</html>