{% if posts%}
{% for post in posts%}



<div class="container card" style="padding: 10px;">
    <p >
        {{post[1]}}</p>
    <p> Author:<span></span> {{post[2]}}</p>

  </div>
  <div class="level">
    <div class="level-item"  >
      <button class="button" style="margin: 10px" get="/vote/{{ post[0] }}" target="vote{{post[0]}}">👍</button>
      <p id="vote{{ post[0]}}" class="card" style="margin: 10px">+33</p>
      <button class="button" style="margin: 10px" get="/vote/{{ post[0] }}" target="vote{{post[0]}}" >👎</button>
    </div>
     <div class="level-item" style="">
      <p class="card" style="margin: 10px">2024-08-26</p> 
    </div>
  </div>
</div>
{% endfor%}
{% endif%}